---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"

const allPosts = await Astro.glob("../pages/posts/*.md")
const pageTitle: string = "Mi blog de Astro"
---

<style>
	ul {
		& a {
			color: rgb(243, 243, 243);
			text-decoration: none;

			&:hover{
				background-color: salmon;
			}
		}
	}
</style>

<BaseLayout {pageTitle}>
	<p>Aqui es donde publicaré sobre mi viaje de aprendizaje Astro</p>

	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} titulo={post.frontmatter.titulo} />)}
	</ul>	
</BaseLayout>

