---
import Social from './Social.astro'
---

<footer>
    <p>
        Más informacion sobre mis proyectos en: 
        <span><Social plataform='github' username='Starnival' /></span>
        <span><Social plataform='twitter' username='Starnival' /></span>
        <span><Social plataform='youtube' username='Starnival' /></span>
        
    </p>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>